.App {
  text-align: center;
}

.weather-icon {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  background-color: #87CEEB;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.rainDrop {
	position: absolute;
	background: linear-gradient(180deg, white , black 90%, black);
	border-radius: 100% 100% 80% 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deeg);
  }
  to {
    transform: rotate(360deg);
  }
}
